<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
      <div class="field">
        <label for="">Enter Length</label>
        <input
          class="input"
          (input)="onChangeLength($event.target!)"
          type="text"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="">Use Letters</label>
          <input (change)="onChangeUseLetters()" type="checkbox" />
        </div>
      </div>

      <div class="field">
        <label class="checkbox" for="">Use Numbers</label>
        <input (change)="onChangeUseNumbers()" type="checkbox" />
      </div>

      <div class="field">
        <input (change)="onChangeUseSymbols()" type="checkbox" />
        <label class="checkbox" for="">Use Symbols</label>
      </div>

      <div>
        <button
          class="button is-link is-fullwidth"
          [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))"
          (click)="onButtonClick()"
        >
          Generate!
        </button>
      </div>

      <div class="box" *ngIf="password">
        <label for="">Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
